.brand {
  color: white;
  text-decoration: none;
}

.brand-img {
  width: 25px;
  vertical-align: middle;
  margin-right: 6px;
  margin-bottom: 3px;
}

.sidenav-container {
  color: rgb(68, 68, 68);
  height: 100%;
}

.sidenav {
  width: 270px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 2;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.233);
}


.example-spacer {
  flex: 1 1 auto;
}

.mat-nav-list {
  .mat-icon{
    margin-right: 20px;
  }
}

.mat-toolbar {
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}

.mat-drawer-side {
  border-right: solid 2px rgba(0,0,0,.12);
}

.active-list-item {
  background-color: rgb(238, 238, 238);
  color: rgb(25, 118, 210);
  font-weight: bold;
}

.mat-toolbar {
  background: rgb(11, 28, 61);
}





