.brand {
  color: white;
  text-decoration: none;

}

.brand-img {
  width: 25px;
  vertical-align: middle;
  margin-right: 6px;
  margin-bottom: 3px;
}

.pc-toolbar {
  background: rgb(11, 28, 61);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);

  .example-spacer {
    flex: 1 1 auto;
  }
  button {
    color: white;
  }
}

.sidenav-container {
  color: rgb(68, 68, 68);
  height: 100%;

  .mat-sidenav {
    width: 270px;
  
    .mat-toolbar {
      background: white;
      border-bottom: 1px solid rgba(0, 0, 0, 0.12);
    }
    .mat-nav-list {
      .mat-icon{
        margin-right: 20px;
      }
    }
  }

  .mat-sidenav-content {
    .mat-toolbar {
    background: rgb(11, 28, 61);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);

    button {
      color: white;
    }
    }
  }
}

.mat-drawer-side {
  border-right: solid 2px rgba(0,0,0,.12);
}

.active-list-item {
  background-color: rgb(238, 238, 238);
  color: rgb(25, 118, 210);
  font-weight: bold;
}




