.sidenav-container {
  color: rgb(68, 68, 68);
  height: 100%;
}

.sidenav {
  width: 270px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 2;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.233);
}


.example-spacer {
  flex: 1 1 auto;
}

.mat-nav-list {
  .mat-icon{
    margin-right: 20px;
  }
}

.mat-toolbar.mat-toolbar.ng-tns-c163-0.mat-toolbar-single-row {
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}

.mat-drawer-side {
  border-right: solid 2px rgba(0,0,0,.12);
}





