<div class="container">
  <button mat-button (click)="close()" style="float: right;">
    <mat-icon>close</mat-icon>
  </button>
  <h1 mat-dialog-title>トランザクション</h1>
  <table [style.table-layout]="(isHandset$ | async) ? 'fixed' : 'auto'" mat-table [dataSource]="dataSource" class="mat-elevation-z8">

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->

    <!-- date Column -->
    <ng-container matColumnDef="timeStamp">
      <th mat-header-cell *matHeaderCellDef> Time Stamp </th>
      <td mat-cell *matCellDef="let element"> {{element.timeStamp}} </td>
    </ng-container>

    <!-- txId Column -->
    <ng-container matColumnDef="txId">
      <th mat-header-cell *matHeaderCellDef> Hash </th>
      <td mat-cell *matCellDef="let element" style="word-wrap: break-word;white-space: pre-wrap;">
        <a [href]="['https://tbtc.bitaps.com/' + element.txId]" target=”_blank” rel=”noopener”>{{element.txId}}</a>
      </td>
    </ng-container>

      <!-- blockHeight Column -->
      <!-- <ng-container matColumnDef="blockHeight">
        <th mat-header-cell *matHeaderCellDef> Block Height </th>
        <td mat-cell *matCellDef="let element"> {{element.blockHeight}} </td>
      </ng-container> -->

        <!-- confirmation Column -->
    <!-- <ng-container matColumnDef="confirmations">
      <th mat-header-cell *matHeaderCellDef> Confirmations </th>
      <td mat-cell *matCellDef="let element"> {{element.confirmations}} </td>
    </ng-container> -->

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  <mat-paginator [pageSizeOptions]="[5, 10]" showFirstLastButtons></mat-paginator>
</div>

