<div class="container">
  <button mat-button (click)="close()" style="float: right;">
    <mat-icon>close</mat-icon>
  </button>
  <h2 mat-dialog-title>トランザクション</h2>
  <table
    [style.table-layout]="(isHandset$ | async) ? 'fixed' : 'auto'"
    mat-table
    [dataSource]="dataSource"
    class="mat-elevation-z8"
  >
    <ng-container matColumnDef="timeStamp">
      <th mat-header-cell *matHeaderCellDef>Confirmed</th>
      <td mat-cell *matCellDef="let element">{{ element.confirmed }}</td>
    </ng-container>

    <ng-container matColumnDef="txId">
      <th
        mat-header-cell
        *matHeaderCellDef
        style="border-left: 1px solid rgba(0, 0, 0, 0.12);"
      >
        Transactions
      </th>
      <td
        mat-cell
        *matCellDef="let element"
        style="
          word-wrap: break-word;
          white-space: pre-wrap;
          border-left: 1px solid rgba(0, 0, 0, 0.12);
        "
      >
        <a
          [href]="['https://tbtc.bitaps.com/' + element.txId]"
          target="”_blank”"
          rel="”noopener”"
          >{{ element.txId }}
        </a>
        <div>
          <span class="badge badge-info">
            {{ element.confirmations }} confirmations
          </span>
        </div>
        <div *ngIf="element.type === 'send'" style="margin-top: 5px;">
          <span style="color: #e55;">
            <mat-icon style="vertical-align: middle;">north_east</mat-icon>
            {{ element.amount }} satoshi
          </span>
        </div>
        <div *ngIf="element.type === 'receive'" style="margin-top: 5px;">
          <span style="color: #4caf50;">
            <mat-icon style="vertical-align: middle;">south_east</mat-icon>
            +{{ element.amount }} satoshi
          </span>
        </div>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
  <mat-paginator
    [pageSizeOptions]="[5, 10]"
    showFirstLastButtons
  ></mat-paginator>
</div>
