<button mat-button (click)="close()" style="float: right;">
  <mat-icon>close</mat-icon>
</button>
<h2 mat-dialog-title>ビットコインを送る</h2>
<div mat-dialog-content style="text-align: center;">
  <form [formGroup]="sendingForm" (ngSubmit)="openConfirm(sendingForm)">
    <mat-form-field appearance="standard">
      <p matPrefix>宛先:</p>
      <input
        matInput
        formControlName="recipient"
        type="text"
        autofocus
        #inputElm
        [(ngModel)]="inputAddress"
      />
      <button
        mat-icon-button
        matSuffix
        type="button"
        (click)="openScanDialog()"
      >
        <mat-icon>qr_code_scanner</mat-icon>
      </button>
      <mat-error *ngIf="recipient.invalid">{{
        recipientErrorMessage()
      }}</mat-error>
    </mat-form-field>

    <mat-form-field appearance="standard">
      <p matPrefix>送金額:</p>
      <input
        matInput
        [(ngModel)]="inputAmount"
        formControlName="amount"
        type="number"
        autofocus
      />
      <span matSuffix>satoshi</span>
      <mat-error *ngIf="amount.invalid">{{ amountErrorMessage() }}</mat-error>
    </mat-form-field>

    <div
      style="text-align: left; color: rgb(176, 176, 176); margin-bottom: 20px;"
    >
      <span *ngIf="!inputAmount">￥ 0.00</span>
      <span *ngIf="inputAmount">
        ￥{{ (data.btcPrice * 1e-8 * inputAmount).toFixed(2) }}
      </span>
      <span style="margin-left: 10px;"> 残高: {{ data.balance }} satoshi </span>
    </div>

    <div class="radio-container">
      <p>送金手数料</p>
      <mat-radio-group formControlName="fee" [(ngModel)]="feeType">
        <mat-radio-button value="lowFee" [checked]="true">
          節約
        </mat-radio-button>
        <mat-radio-button value="mediumFee">
          普通
        </mat-radio-button>
        <mat-radio-button value="highFee">
          優先
        </mat-radio-button>
        <mat-error *ngIf="fee.invalid">{{ feeErrorMessage() }}</mat-error>
      </mat-radio-group>
    </div>

    <input formControlName="type" type="hidden" [(ngModel)]="feeType" />

    <div class="fee-container">
      <p style="margin-bottom: 4px;">
        送料見積り:
        {{ (148 * 2 + 34 * 2 + 10 * (data[feeType] / 1000)).toFixed(0) }}
        satoshi
      </p>
      <span style="font-size: smaller;" class="fee">
        節約({{ data.lowFee }}/kb)
      </span>
      <span style="font-size: smaller;" class="fee">
        普通({{ data.mediumFee }}/kb)
      </span>
      <span style="font-size: smaller;" class="fee">
        優先({{ data.highFee }}/kb)
      </span>
    </div>

    <button
      mat-raised-button
      color="primary"
      [disabled]="sendingForm.invalid"
      type="submit"
    >
      送金
    </button>
  </form>
</div>
