.grid-container {
  margin: 20px;
}

.dashboard-card {
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
  max-width: 400px;
  margin: 0 auto;
}

.more-button {
  position: absolute;
  top: 5px;
  right: 10px;
}

.dashboard-card-content {
  text-align: center;
}

.card-images {
  font-size: 80px;
  text-align: center;
}

.mat-card-content {
  word-wrap: break-word;
  text-align: center;
  margin-top: 30px;
}

.mat-card-content {
  p {
    font-size: 18px;
  }

  h2 {
    margin-bottom: 0;
  }
}

.mat-card-actions {
  button {
    font-size: 18px;
  }
}

.mat-card-actions {
  text-align: center;
}
