<div *ngIf="wallet" class="grid-container">
  <h1>
    {{ userName }}さんのウォレット
    <span>
      <button
        *ngIf="!(isHandset$ | async)"
        mat-raised-button
        (click)="getAddressDetail()"
        color="primary"
        matTooltip="ウォレットを更新する"
        matTooltipPosition="right"
        style="font-size: 24px;"
      >
        <mat-icon style="margin-bottom: 3px;">cached</mat-icon>
      </button>
    </span>
  </h1>

  <mat-grid-list [cols]="(isHandset$ | async) ? 1 : 4" rowHeight="400px">
    <mat-grid-tile [colspan]="1" [rowspan]="1">
      <mat-card class="dashboard-card">
        <div style="border-left: 5px solid #1582ad; height: 100%;">
          <mat-card-header>
            <mat-card-title>
              Address
              <mat-icon
                style="color: #1582ad; vertical-align: middle; cursor: pointer;"
                matTooltip="QRコードを表示"
                matTooltipPosition="right"
                (click)="addressDialog()"
                >qr_code_scanner
              </mat-icon>
            </mat-card-title>
            <mat-card-subtitle>アドレス</mat-card-subtitle>
          </mat-card-header>
          <div style="text-align: center;">
            <button
              mat-fab
              style="background: #1582ad; color: white;"
              disabled="true"
              class="card-icon"
            >
              <mat-icon>qr_code</mat-icon>
            </button>
          </div>
          <hr />
          <mat-card-content>
            <h2>
              Bitcoin testnet address
            </h2>
            <span style="color: #a8abaf; font-size: smaller;">
              P2PKH
            </span>
            <h3 style="margin-top: 15px;">
              {{ address }}
              <span
                mat-button
                [cdkCopyToClipboard]="address"
                (click)="openSnackBar()"
                style="cursor: pointer;"
              >
                <mat-icon style="vertical-align: middle;"
                  >content_copy</mat-icon
                >
              </span>
            </h3>
          </mat-card-content>
        </div>
      </mat-card>
    </mat-grid-tile>

    <mat-grid-tile [colspan]="1" [rowspan]="1">
      <mat-card class="dashboard-card">
        <div style="border-left: 5px solid #02ad9c; height: 100%;">
          <mat-card-header>
            <mat-card-title>
              Balance
              <a
                href="https://bitcoinfaucet.uo1.net/"
                target="”_blank”"
                rel="”noopener”"
                style="color: #02ad9c; cursor: pointer;"
                matTooltip="Testnet Faucetにアクセス"
                matTooltipPosition="right"
              >
                <i class="fas fa-faucet"></i>
              </a>
            </mat-card-title>
            <mat-card-subtitle>残高</mat-card-subtitle>
          </mat-card-header>
          <div style="text-align: center;">
            <button
              mat-fab
              style="background: #02ad9c; color: white;"
              disabled="true"
              class="card-icon"
            >
              <mat-icon>account_balance_wallet</mat-icon>
            </button>
          </div>
          <hr />
          <mat-card-content>
            <h1 style="margin-bottom: 0px;">{{ balance }} satoshi</h1>
            <p style="font-size: 15px; color: #7c7f83;">
              <mat-icon style="vertical-align: middle;"
                >arrow_right_alt</mat-icon
              >
              {{ btcPrice * 1e-8 * balance | currency: "JPY" }}
            </p>
            <p style="margin-top: 20px;">
              <span>
                <img
                  src="../../assets/img/bitcoin.png"
                  alt="bitcoin"
                  style="width: 20px;"
                />
              </span>
              Bitcoin
              <span style="font-size: 8px;">
                /JPY
              </span>
            </p>
            <p style="font-size: 15px;">
              {{ btcPrice | currency: "JPY" }}
              <span *ngIf="changeRatio.indexOf('-') != -1" style="color: red;">
                <mat-icon
                  style="
                    vertical-align: middle;
                    margin-left: 10px;
                    transform: rotateY(180deg);
                  "
                >
                  show_chart
                </mat-icon>
                {{ changeRatio }}%
                <span style="font-size: smaller; color: #a8abaf;">24hrs</span>
              </span>

              <span
                *ngIf="changeRatio.indexOf('-') === -1"
                style="color: #28a745;"
              >
                <mat-icon style="vertical-align: middle; margin-left: 10px;">
                  show_chart
                </mat-icon>
                +{{ changeRatio }}%
                <span style="font-size: smaller; color: #a8abaf;">24hrs</span>
              </span>
            </p>
          </mat-card-content>
        </div>
      </mat-card>
    </mat-grid-tile>

    <mat-grid-tile [colspan]="1" [rowspan]="1">
      <mat-card class="dashboard-card">
        <div style="border-left: 5px solid #6685ff; height: 100%;">
          <mat-card-header>
            <mat-card-title>Send & Receive</mat-card-title>
            <mat-card-subtitle>送受信</mat-card-subtitle>
          </mat-card-header>
          <div style="text-align: center;">
            <button
              mat-fab
              style="background: #6685ff; color: white;"
              disabled="true"
              class="card-icon"
            >
              <mat-icon>compare_arrows</mat-icon>
            </button>
          </div>
          <hr />
          <mat-card-content>
            <p style="margin: 0 0; color: #7c7f83;">
              Total Sent
            </p>
            <h2>{{ totalSent }} satoshi</h2>
            <p style="margin: 0 0; color: #7c7f83;">
              Total Received
            </p>
            <h2>{{ totalReceived }} satoshi</h2>
          </mat-card-content>
          <div style="text-align: center;">
            <button
              mat-raised-button
              (click)="sendDialog()"
              style="margin-right: 8px;"
            >
              <mat-icon style="color: #6685ff;">send</mat-icon>
              送信
            </button>
            <button
              mat-raised-button
              (click)="receiveDialog()"
              style="margin-left: 8px;"
            >
              <mat-icon style="color: #6685ff;">arrow_circle_down</mat-icon>
              受信
            </button>
          </div>
        </div>
      </mat-card>
    </mat-grid-tile>

    <mat-grid-tile [colspan]="1" [rowspan]="1">
      <mat-card class="dashboard-card">
        <div style="border-left: 5px solid #113045; height: 100%;">
          <mat-card-header>
            <mat-card-title>Transactions</mat-card-title>
            <mat-card-subtitle>取引</mat-card-subtitle>
          </mat-card-header>
          <div style="text-align: center;">
            <button
              mat-fab
              style="background: #113045; color: white;"
              disabled="true"
              class="card-icon"
            >
              <mat-icon>list_alt</mat-icon>
            </button>
          </div>
          <hr />
          <mat-card-content>
            <h2>
              <span [matBadge]="unconfirmed.length" matBadgeOverlap="false"
                >Unconfirmed Transactions
              </span>
            </h2>
            <button mat-raised-button (click)="uncTxDialog()">
              <mat-icon>arrow_right</mat-icon>
              取引を見る
            </button>
            <h2 style="margin-top: 15px;">
              <span [matBadge]="transactions.length" matBadgeOverlap="false"
                >Confirmed Transactions
              </span>
            </h2>
            <button mat-raised-button (click)="txDialog()">
              <mat-icon>arrow_right</mat-icon>
              取引を見る
            </button>
          </mat-card-content>
        </div>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>

<button
  *ngIf="isHandset$ | async"
  mat-fab
  (click)="getAddressDetail()"
  color="primary"
  id="reload"
  matTooltip="ウォレットを更新する"
  matTooltipPosition="right"
>
  <mat-icon>cached</mat-icon>
</button>

<div class="spinner" *ngIf="spinner">
  <mat-spinner></mat-spinner>
</div>

<div *ngIf="error" style="text-align: center;">
  <h1>
    情報の取得に失敗しました。ページを更新して再度ログインしてください。
  </h1>
</div>
