.grid-container {
  margin: 20px;
}

.dashboard-card {
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
  max-width: 400px;
  margin: 0 auto;
}

.more-button {
  position: absolute;
  top: 5px;
  right: 10px;
}

.dashboard-card-content {
  text-align: center;
}

hr {
  width: 90%;
}

.card-icon {
  box-shadow: none !important;
}

.mat-card-content {
  word-wrap: break-word;
  text-align: center;
  margin-top: 30px;

  h2 {
    margin-bottom: 0;
  }
}

.mat-card-actions {
  text-align: center;
  button {
    font-size: 18px;
  }
}

.spinner {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#reload {
  position: fixed;
  bottom: 15px;
  right: 15px;
}
