<div class="card">
  <form #transactionForm="ngForm" (ngSubmit)="pushTransaction(transactionForm)" class="form-signin">

    <div class="form-label-group">
      <input ngModel name="recipient" type="text" id="inputEmail" class="form-control" placeholder="Address" required autofocus>
      <label for="inputEmail"></label>
    </div>

    <div class="form-label-group">
      <input ngModel name="amount" type="number" id="inputPassword" class="form-control" placeholder="Amount" required>
    </div>
    <hr class="my-4">
    <button [disabled]="transactionForm.invalid" class="btn btn-lg btn-primary btn-block text-uppercase" type="submit">Send</button>
  </form>
  <p>
    {{ balance }}
  </p>
  <!-- <div *ngIf="errors && errors.length > 0">
    <br>
    <p *ngFor="let error of errors">
      {{ error.detail }}
    </p>
  </div> -->
</div>