<div style="text-align: center;">
  <button
    mat-raised-button
    color="primary"
    type="button"
    (click)="close()"
    style="margin-bottom: 20px;"
  >
    <mat-icon>arrow_back</mat-icon>
  </button>
  <zxing-scanner
    *ngIf="hasCamera"
    [enable]="scannerEnabled"
    (camerasFound)="camerasFoundHandler($event)"
    (camerasNotFound)="camerasNotFoundHandler($event)"
    (scanSuccess)="scanSuccessHandler($event)"
  ></zxing-scanner>

  <div *ngIf="!hasCamera">
    <p>カメラがみつかりません</p>
  </div>
</div>
